name: Gradle Publish [snapshot]

on:
  workflow_dispatch:

jobs:
  check-branch:
    name: Check Branch
    runs-on: ubuntu-latest
    steps:
      - name: Check Branch
        if: startsWith(github.ref, 'refs/heads/')
        run: |
          BRANCH="${GITHUB_REF#refs/heads/}"
          if [[ "$BRANCH" != "main" && "$BRANCH" != release-* ]]; then
            echo "::error title=wrong branch selected::this workflow must be run on 'main' or 'release-*' branches"
            exit 1
          fi

  publish-snapshot:
    name: Publish problem4j-spring SNAPSHOT
    needs: [ check-branch ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Evaluate Version
        id: version
        env:
          VERSION_FILE: .github/utils/next_version.txt
        run: |
          if [ -n "${VERSION_FILE:-}" ] && [ -f "$VERSION_FILE" ]; then
            bash .github/utils/validate_version_file.sh "$VERSION_FILE"
            NEXT_VERSION=$(cat "$VERSION_FILE" | tr -d '[:space:]')  # trim whitespaces
            echo "::notice::using version from $VERSION_FILE: $NEXT_VERSION"
          else
            echo "::error::file $VERSION_FILE not found"
            exit 1
          fi

          NEXT_VERSION="${NEXT_VERSION#v}"  # strip leading 'v' if present
          SNAPSHOT_VERSION="${NEXT_VERSION}-SNAPSHOT"

          echo "::notice::evaluated snapshot version: $SNAPSHOT_VERSION"
          echo "version=$SNAPSHOT_VERSION" >> $GITHUB_OUTPUT

      - name: Publish Snapshot
        env:
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          PUBLISHING_USERNAME: ${{ secrets.PUBLISHING_USERNAME }}
          PUBLISHING_PASSWORD: ${{ secrets.PUBLISHING_PASSWORD }}
          GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.parallel=false"
        run: |
          ./gradlew -Pversion="${{ steps.version.outputs.version }}" publishAggregationToCentralPortalSnapshots
